In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
!ls

'Best Bowling Economy Innings'	    'Most Fours Innings'
'Best Bowling Strike Rate Innings'  'Most Runs'
'Fastest Centuries'		    'Most Runs Conceded Innings'
'Fastest Fifties'		    'Most Runs Over'
'IPL Anaysis.ipynb'		    'Most Sixes Innings'
'Most Dot Balls Innings'	    'Most Wickets'

In [5]:
most_runs_2021 = pd.read_csv('./Most Runs/Most Runs - 2021.csv')

In [6]:
most_runs_2021.head()

,POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Ruturaj Gaikwad,16,16,2,635,101*,45.35,466,136.26,1,4,64,23
1,2,Faf du Plessis,16,16,2,633,95*,45.21,458,138.20,0,6,60,23
2,3,KL Rahul,13,13,3,626,98*,62.60,451,138.80,0,6,48,30
3,4,Shikhar Dhawan,16,16,1,587,92,39.13,471,124.62,0,3,63,16
4,5,Glenn Maxwell,15,14,2,513,78,42.75,356,144.10,0,6,48,21

### Top 5 players who remained Notout (minimum 8 innings)

In [7]:
most_runs21_min8inns = most_runs_2021.loc[most_runs_2021.Inns >= 8]

In [8]:
top5_notouts_min8 = pd.DataFrame(most_runs21_min8inns.groupby(['Player','Inns']).sum()['NO']).sort_values('NO',ascending=False).head(5)
top5_notouts_min8

                      NO
Player          Inns
Ravindra Jadeja 12     9
Shimron Hetmyer 13     6
Dinesh Karthik  15     5
Kieron Pollard  13     5
AB de Villiers  14     4

### Players with Highest Average

In [8]:
most_runs21_min8inns.groupby('Player').mean()['Avg'].sort_values(ascending=False).head(10)

Player
Ravindra Jadeja    75.66
KL Rahul           62.60
Manish Pandey      48.66
Ruturaj Gaikwad    45.35
Faf du Plessis     45.21
Kane Williamson    44.33
Glenn Maxwell      42.75
Venkatesh Iyer     41.11
Sanju Samson       40.33
Mayank Agarwal     40.09
Name: Avg, dtype: float64

### Players with highest strike rates (minimum 300 balls faced)

In [9]:
# sns.displot(most_runs21_min8inns.BF)
# plt.show()

In [10]:
min100_balls = most_runs_2021.loc[most_runs_2021.BF >= 300]
# min100_balls.head()
len(min100_balls)

13

In [11]:
min100_balls.groupby(['Player','Inns','BF','Runs']).mean()['SR'].sort_values(ascending=False)

Player            Inns  BF   Runs
Prithvi Shaw      15    301  479     159.13
Glenn Maxwell     14    356  513     144.10
Mayank Agarwal    12    314  441     140.44
KL Rahul          13    451  626     138.80
Faf du Plessis    16    458  633     138.20
Sanju Samson      14    354  484     136.72
Ruturaj Gaikwad   16    466  635     136.26
Rishabh Pant      16    326  419     128.52
Devdutt Padikkal  14    328  411     125.30
Shikhar Dhawan    16    471  587     124.62
Nitish Rana       16    314  383     121.97
Virat Kohli       15    339  405     119.46
Shubman Gill      17    402  478     118.90
Name: SR, dtype: float64

### Players with most centuries

In [12]:
most_runs_2021.loc[most_runs_2021['100'] >0]

,POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Ruturaj Gaikwad,16,16,2,635,101*,45.35,466,136.26,1,4,64,23
5,6,Sanju Samson,14,14,2,484,119,40.33,354,136.72,1,2,45,17
10,11,Devdutt Padikkal,14,14,1,411,101*,31.61,328,125.30,1,1,44,14
23,24,Jos Buttler,7,7,0,254,124,36.28,166,153.01,1,0,27,13